body{
    background-color: rgb(151, 123, 123);
    margin: 0;
  }
  
  header{
    background-color: rgb(212, 228, 212);
    height: 90px;
  }
   h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    float: left;
    padding-left: 50px;
  color: rgb(165, 62, 96);
  
  } 
  h2{
    font-family: 'Zilla Slab Highlight', cursive;
    color: rgb(68, 24, 28);

  }

  h3 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 2.5em;
    color: rgb(97, 10, 10);
  

  }
  a {
    float: right;
    padding: 30px;
    text-decoration: none;
  }
  
  .hp {
    
   background-color: rgb(233, 206, 206);
    margin: 100px 100px 100px 100px;
    padding: 50px 50px 50px 50px;
  }
  
   img{
    width: 250px;
    height: 250px;
   }
  
  
   img{
    width: 300px;
    height: 300px;
  } 
  div img{
    padding: 50px
  }
  p{
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    color: rgb(83, 21, 85);
  }
  
  footer{
     background-color: rgb(128, 0, 85);
     height: 30px;
  }