body{
    background-color: rgb(116, 180, 119);
    margin: 0;
  }
  
  header{
    background-color: rgb(212, 228, 212);
    height: 90px;
  }
   h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    float: left;
    padding-left: 50px;
  color: rgb(83, 165, 62);
  
  } 
  h2{
    font-family: 'Zilla Slab Highlight', cursive;
    color: rgb(192, 194, 76);

  }

  h3 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 2.5em;
    color: rgb(211, 159, 48);
  

  }
  a {
    float: right;
    padding: 30px;
    text-decoration: none;
  }
  
  .hp {
    
   background-color: rgb(124, 163, 87);
    margin: 100px 100px 100px 100px;
    padding: 50px 50px 50px 50px;
  }
  
   img{
    width: 250px;
    height: 250px;
   }
  
  
   img{
    width: 300px;
    height: 300px;
  } 
  div img{
    padding: 50px
  }
  p{
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    color: rgb(53, 160, 11);
  }
  
  footer{
     background-color: green;
     height: 30px;
  }