table,tr{
    border: 1px solid rgb(153, 62, 62);
    border-collapse: collapse;
    background-color: #da9872;
    position: relative;
    
    margin: 0px 50px 100px 500px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(211, 104, 104);
    background-color: burlywood;
    color: rebeccapurple;
    text-align: center;
  }
  tr:nth-child(even){background-color: #f2f2f2}

  #form{
    
    margin: 50px 50px 20px 100px;
    background-color: rgb(223, 182, 201);
    color: rebeccapurple;
    text-align: justify;

  }
  h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    text-align: center;
   
  color: rgb(177, 164, 48);
  
  }